.container-fluid {
    height: 100vh;
  }
  
  .row-highlight {
    background-color: purple;
    color: white;
  }
  
  .row-background {
    /*background-image: url('path/to/your/wallpaper.jpg');*/
    background-size: cover;
    color: white;
  }
  
  .col-text {
    text-align: center;
    padding: 20px;
  }
  
  .logo {
    max-width: 100%;
    height: auto;
  }
  
  .btn-register {
    margin-top: 20px;
  }
  
  .btn-login {
    margin-top: 20px;
  }
  